<div class='container-fluid' style='background-color:#ECF0F1' >
  <div class='panel panel-default' >
    <div class='panel-body'>
      <div class='row' >
        <div class='col-lg-12'>
        <%= form_tag({controller: "listings", action: "index"}, method:'get', class:"form-inline") do %>
         <div class="form-group">
          <input type=hidden name='state' value="<%= @state %>">
          <label for="exampleInputName2" style='color:#2C3E50;font-size:14px;font-weight:500;margin-top:5px'><%= @state%> aerial photographers specializing in</label>
          <select class="form-control" style='height:32px;font-size:14px' name='tag' onchange="this.form.submit();">
            <%= options_for_select({
              "Agriculture" => "Agriculture",
              "Construction" => "Construction",
              "Events" => "Events",
              "Land Surveying" => "Land Surveying",
              "Movies/Ads" => "Movies/Ads",
              "Real Estate" => "Real Estate",
              "Structural Inspection" => "Structural Inspection",

               }, @tag)
               %>

          </select>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @listings.empty? %>
  <div class='row'>
    <div class='col-lg-12 text-center' style='margin'>
      <p>No companies found.</p>
    </div>
  </div>

  <% else %> 

  <% @listings.each do |listing| %>


  <% if listing.enhanced == true %>
    <div class='panel panel-default' >
      <div class='panel-body'>
        <div class='row' >
         <!--  <div class='col-xs-2'style='padding-left:5px'>
            <%= image_tag('aerial-photography3.jpg', style:'width:100%') %>
          </div> -->
          <div class='col-xs-12'>
            <div class='row'>
              <div class='col-lg-12'>
                <ul class="list-inline" style='margin-bottom:0px'>
                  <li>
                    <h6 style='font-weight:700;font-size:16px;margin-bottom:0px'><%= listing.name %></h6>
                  </li>
                  <li>
                    <p style='font-size:14px;margin-bottom:0px'><%= listing.city %>, <%= listing.state %></p>
                  </li>
                  <li>
                   <button class='tag' style='color:#2980B9;border:2px solid #2980B9;background-color:transparent'>Claimed Profile</button>
                  </li>
              </div>
              <div class='col-lg-12' style='margin-top:0px'>
                <ul class="list-inline" style='margin-bottom:0px'>
                  <li>
                    <span class="fui-star" style='color:#2980B9'></span>
                    <span class="fui-star" style='color:#2980B9'></span>
                    <span class="fui-star" style='color:#2980B9'></span>
                    <span class="fui-star" style='color:#2980B9'></span>
                    <span class="fui-star" style='color:#2980B9'></span>
                  </li>
                  <li>
                    <p style='font-size:14px;color:#3498DB;margin-bottom:0px'>4.6/5</p>
                  </li>
                  <li>
                    <p style='font-size:14px;color:#3498DB;margin-bottom:0px'>20 reviews</p>
                  </li>
                </ul>
              </div>
               <div class='col-lg-12' style='margin-top:0px;'>
                <% listing.tags.each do |tag| %>
                <button class='tag' style='color:#2980B9;border:2px solid #2980B9;background-color:transparent'><%= tag %></button>
                <% end %>
              </div>
              <div class='col-lg-12'>
                <p style='font-size:14px;margin-top:5px'><%= listing.description %></p>
              </div>
              <div class='col-lg-12' style='margin-bottom:10px'>
                <a style='background-color:#2980B9
' class="btn btn-primary btn-block" href='<%= listing_path(listing.id) %>'>Get in Touch</a>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>

<div class='panel panel-default' >
    <div class='panel-body'>
      <div class='row' >
       <!--  <div class='col-xs-2'style='padding-left:5px'>
          <%= image_tag('aerial-photography3.jpg', style:'width:100%') %>
        </div> -->
        <div class='col-xs-12'>
          <div class='row'>
            <div class='col-lg-12'>
              <ul class="list-inline" style='margin-bottom:0px'>
                <li>
                  <h6 style='font-weight:700;font-size:16px;margin-bottom:0px'><%= listing.name %></h6>
                </li>
                <li>
                  <p style='font-size:14px;margin-bottom:0px'><%= listing.city %>, <%= listing.state %></p>
                </li>
            </div>
           <div class='col-lg-12' style='margin-top:0px'>
              <ul class="list-inline" style='margin-bottom:0px'>
                <li>
                 <p style='font-size:14px;margin-bottom:0px'>No Reviews</p>
                </li>
              </ul>
            </div>
            <div class='col-lg-12'>
              <p style='font-size:14px;margin-top:5px'><%= listing.description %></p>
            </div>
            <div class='col-lg-12' style='margin-bottom:10px'>
                <a class="btn btn-default btn-block" href='<%= listing_path(listing.id) %>'>Claim Profile</a>
             </div>   
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
<% end %>
<% end %>

</div>
  

  
